<center>

<h1>Welcome <%=@user.username%>!</h1><br>

    <h2>Start by creating your pantry</h2>
    <form action="/pantries" method="POST">
    <label for="name">Give your pantry a name</label>
    <input id="name" type="text" name="name" required>
    <input id="is_full_hidden" type="hidden" name="is_full" value="false"/>
    <input id="create" type="submit" name="Create" value="Create"/>
    </form>
</center>