<center>
<%if @user.pantries.empty?%>
    <h1>Please create a pantry to add groceries<h1>
<% else %>
    <h1>Add An Item To your Pantry</h1>
        <h3>
            <form action="/groceries" method="POST">
                <label for="name">Enter the items name</label>
                <input id="name" type="text" name="grocery[name]" required><br>
                <label for="count">What is the quantity?</label>
                <input id="count" type="number" name="grocery[count]"required><br>
                <label for="purchase_date">What is the purchase date?</label>
                <input id="purchase_date" type="date" name="grocery[purchase_date]"required><br>
                <label for="expiration_date">What is the expiration date?</label>
                <input id="expiration_date" type="date" name="grocery[expiration_date]"required><br>
                <input id="add" type="submit" name="add"/>
            </form>
        </h3>
<% end %>
</center>