<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Pantry Peeker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">PantryPeeker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="/" href="/users/:id">HOME</a></li>
        <li><a href="/friends/:index">Friends</a></li>
        <li><a href="/pantries">My Pantry</a></li>
        <li><a href="/pantries/new">Add Groceries</a></li>
        <%if session[:user_id]%>
        <li><a href="/users/:id/update">Account</a></li>
        <% end %>
      </ul>
      <%if session[:user_id]%>
        <form action="/logout" method="POST">
        <a><input id="logout" type="submit" name="logout" value="logout"></a>
        </form>
        <% end %>
    </div>
  </nav>
    
    
    <div class="wrapper">
  
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>PantryPeeker</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
